<a href="https://colab.research.google.com/github/rohit19kumar/CiQ/blob/master/Ensemble_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# Data Preparation

In [ ]:
data = pd.read_csv('E:\\Resume_Projects\\Corrected_Data.csv')

In [ ]:
data.head()

,Age,Work_Class,fnlwgt,Education,Ed_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hr_per_wk,Country,y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [ ]:
data.shape

(32561, 15)

In [ ]:
data.isnull().sum()

Age                  0
Work_Class        1836
fnlwgt               0
Education            0
Ed_num               0
Marital_status       0
Occupation        1843
Relationship         0
Race                 0
Sex                  0
Capital_gain         0
Capital_loss         0
Hr_per_wk            0
Country            583
y                    0
dtype: int64

In [ ]:
data = pd.DataFrame(data.dropna(how='any'))

In [ ]:
data.shape

(30162, 15)

In [ ]:
a = data['Work_Class'].astype('category').cat.categories.tolist()
a1 = {'Work_Class' : {k: v for k,v in zip(a,list(range(1,len(a)+1)))}}
print(a1)
data.replace(a1, inplace=True)

{'Work_Class': {' Federal-gov': 1, ' Local-gov': 2, ' Private': 3, ' Self-emp-inc': 4, ' Self-emp-not-inc': 5, ' State-gov': 6, ' Without-pay': 7}}

In [ ]:
b = data['Marital_status'].astype('category').cat.categories.tolist()
b1 = {'Marital_status' : {k: v for k,v in zip(b,list(range(1,len(b)+1)))}}
print(b1)
data.replace(b1, inplace=True)

{'Marital_status': {' Divorced': 1, ' Married-AF-spouse': 2, ' Married-civ-spouse': 3, ' Married-spouse-absent': 4, ' Never-married': 5, ' Separated': 6, ' Widowed': 7}}

In [ ]:
c = data['Occupation'].astype('category').cat.categories.tolist()
c1 = {'Occupation' : {k: v for k,v in zip(c,list(range(1,len(c)+1)))}}
print(c1)
data.replace(c1, inplace=True)

{'Occupation': {' Adm-clerical': 1, ' Armed-Forces': 2, ' Craft-repair': 3, ' Exec-managerial': 4, ' Farming-fishing': 5, ' Handlers-cleaners': 6, ' Machine-op-inspct': 7, ' Other-service': 8, ' Priv-house-serv': 9, ' Prof-specialty': 10, ' Protective-serv': 11, ' Sales': 12, ' Tech-support': 13, ' Transport-moving': 14}}

In [ ]:
d = data['Education'].astype('category').cat.categories.tolist()
d1 = {'Education' : {k: v for k,v in zip(d,list(range(1,len(d)+1)))}}
print(d1)
data.replace(d1, inplace=True)

{'Education': {' 10th': 1, ' 11th': 2, ' 12th': 3, ' 1st-4th': 4, ' 5th-6th': 5, ' 7th-8th': 6, ' 9th': 7, ' Assoc-acdm': 8, ' Assoc-voc': 9, ' Bachelors': 10, ' Doctorate': 11, ' HS-grad': 12, ' Masters': 13, ' Preschool': 14, ' Prof-school': 15, ' Some-college': 16}}

In [ ]:
e = data['Relationship'].astype('category').cat.categories.tolist()
e1 = {'Relationship' : {k: v for k,v in zip(e,list(range(1,len(e)+1)))}}
print(e1)
data.replace(e1, inplace=True)

{'Relationship': {' Husband': 1, ' Not-in-family': 2, ' Other-relative': 3, ' Own-child': 4, ' Unmarried': 5, ' Wife': 6}}

In [ ]:
f = data['Race'].astype('category').cat.categories.tolist()
f1 = {'Race' : {k: v for k,v in zip(f,list(range(1,len(f)+1)))}}
print(f1)
data.replace(f1, inplace=True)

{'Race': {' Amer-Indian-Eskimo': 1, ' Asian-Pac-Islander': 2, ' Black': 3, ' Other': 4, ' White': 5}}

In [ ]:
g = data['Sex'].astype('category').cat.categories.tolist()
g1 = {'Sex' : {k: v for k,v in zip(g,list(range(1,len(g)+1)))}}
print(g1)
data.replace(g1, inplace=True)

{'Sex': {' Female': 1, ' Male': 2}}

In [ ]:
h = data['Country'].astype('category').cat.categories.tolist()
h1 = {'Country' : {k: v for k,v in zip(h,list(range(1,len(h)+1)))}}
print(h1)
data.replace(h1, inplace=True)

{'Country': {' Cambodia': 1, ' Canada': 2, ' China': 3, ' Columbia': 4, ' Cuba': 5, ' Dominican-Republic': 6, ' Ecuador': 7, ' El-Salvador': 8, ' England': 9, ' France': 10, ' Germany': 11, ' Greece': 12, ' Guatemala': 13, ' Haiti': 14, ' Holand-Netherlands': 15, ' Honduras': 16, ' Hong': 17, ' Hungary': 18, ' India': 19, ' Iran': 20, ' Ireland': 21, ' Italy': 22, ' Jamaica': 23, ' Japan': 24, ' Laos': 25, ' Mexico': 26, ' Nicaragua': 27, ' Outlying-US(Guam-USVI-etc)': 28, ' Peru': 29, ' Philippines': 30, ' Poland': 31, ' Portugal': 32, ' Puerto-Rico': 33, ' Scotland': 34, ' South': 35, ' Taiwan': 36, ' Thailand': 37, ' Trinadad&Tobago': 38, ' United-States': 39, ' Vietnam': 40, ' Yugoslavia': 41}}

In [ ]:
data.head()

,Age,Work_Class,fnlwgt,Education,Ed_num,Marital_status,Occupation,Relationship,Race,Sex,Capital_gain,Capital_loss,Hr_per_wk,Country,y
0,39,6,77516,10,13,5,1,2,5,2,2174,0,40,39,0
1,50,5,83311,10,13,3,4,1,5,2,0,0,13,39,0
2,38,3,215646,12,9,1,6,2,5,2,0,0,40,39,0
3,53,3,234721,2,7,3,6,1,3,2,0,0,40,39,0
4,28,3,338409,10,13,3,10,6,3,1,0,0,40,5,0

In [ ]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

# Feature Selection using Chi-Squared Test

In [ ]:
from sklearn.feature_selection import chi2,SelectKBest,SelectPercentile
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [ ]:
f_score = chi2(X_train,y_train)
f_score

(array([6.34752408e+03, 2.93098147e+00, 1.62348041e+05, 1.78562474e+02,
        1.72824906e+03, 5.45576551e+02, 1.61562002e+02, 1.57862010e+03,
        1.89585671e+01, 1.47096987e+02, 5.89673999e+07, 9.53231241e+05,
        4.62658694e+03, 1.12544000e+01]),
 array([0.00000000e+000, 8.68946519e-002, 0.00000000e+000, 9.98383644e-041,
        0.00000000e+000, 1.15418916e-120, 5.15679270e-037, 0.00000000e+000,
        1.33588079e-005, 7.47359392e-034, 0.00000000e+000, 0.00000000e+000,
        0.00000000e+000, 7.94344952e-004]))

In [ ]:
chi_values = pd.Series(f_score[0], index=X_train.columns )
chi_values.sort_values(ascending=True,inplace=True)
chi_values

Work_Class        2.930981e+00
Country           1.125440e+01
Race              1.895857e+01
Sex               1.470970e+02
Occupation        1.615620e+02
Education         1.785625e+02
Marital_status    5.455766e+02
Relationship      1.578620e+03
Ed_num            1.728249e+03
Hr_per_wk         4.626587e+03
Age               6.347524e+03
fnlwgt            1.623480e+05
Capital_loss      9.532312e+05
Capital_gain      5.896740e+07
dtype: float64

In [ ]:
X_train = X_train[['Work_Class','Country','Race','Sex','Occupation','Education','Marital_status']]
X_test = X_test[['Work_Class','Country','Race','Sex','Occupation','Education','Marital_status']]

# Classification Models

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
def rf(X_train,X_test,y_train,y_test):
    classifier = RandomForestClassifier(n_estimators = 1000, criterion = 'gini', random_state = 0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    print('Accuracy:',accuracy_score(y_test,y_pred))

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
def ada(X_train,X_test,y_train,y_test):
    classifier = AdaBoostClassifier(n_estimators = 1000, random_state = 0)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    print('Accuracy:',accuracy_score(y_test,y_pred))

In [ ]:
from xgboost import XGBClassifier

In [ ]:
def xg(X_train,X_test,y_train,y_test):
    classifier = XGBClassifier(random_state=0, n_jobs=-1, learning_rate=0.1,n_estimators=1000, max_depth=3)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    print('Accuracy:',accuracy_score(y_test,y_pred))

In [ ]:
%%time
print("Random Forest")
rf(X_train,X_test,y_train,y_test)

Random Forest
Accuracy: 0.8262887452345433
Wall time: 24.1 s

In [ ]:
%%time
print("Adaboost")
ada(X_train,X_test,y_train,y_test)

Adaboost
Accuracy: 0.8264545002486325
Wall time: 17.3 s

In [ ]:
%%time
print("XGBoost")
xg(X_train,X_test,y_train,y_test)

XGBoost
Accuracy: 0.8330847008121995
Wall time: 5.08 s

In [ ]:
from vecstack import stacking

In [ ]:
models = [
    AdaBoostClassifier(n_estimators = 1000, random_state = 0),
        
    RandomForestClassifier(random_state=0, n_jobs=-1, 
                           n_estimators=1000, max_depth=3),
        
    XGBClassifier(random_state=0, n_jobs=-1, learning_rate=0.1, 
                  n_estimators=1000, max_depth=3)
]

In [ ]:
S_train, S_test = stacking(models,                   
                           X_train, y_train, X_test,   
                           regression=False, 
     
                           mode='oof_pred_bag', 
       
                           needs_proba=False,
         
                           save_dir=None, 
            
                           metric=accuracy_score, 
    
                           n_folds=4, 
                 
                           stratified=True,
            
                           shuffle=True,  
            
                           random_state=0,    
         
                           verbose=2)

task:         [classification]
n_classes:    [2]
metric:       [accuracy_score]
mode:         [oof_pred_bag]
n_models:     [3]

model  0:     [AdaBoostClassifier]
    fold  0:  [0.82214487]
    fold  1:  [0.83255968]
    fold  2:  [0.82775199]
    fold  3:  [0.81448939]
    ----
    MEAN:     [0.82423648] + [0.00672709]
    FULL:     [0.82423640]

model  1:     [RandomForestClassifier]
    fold  0:  [0.75302503]
    fold  1:  [0.75314987]
    fold  2:  [0.75314987]
    fold  3:  [0.75298408]
    ----
    MEAN:     [0.75307721] + [0.00007408]
    FULL:     [0.75307721]

model  2:     [XGBClassifier]
    fold  0:  [0.82330515]
    fold  1:  [0.83852785]
    fold  2:  [0.82592838]
    fold  3:  [0.81332891]
    ----
    MEAN:     [0.82527258] + [0.00898129]
    FULL:     [0.82527249]

In [ ]:
model = AdaBoostClassifier(random_state=0, learning_rate=0.1, 
                      n_estimators=1000)
    
model = model.fit(S_train, y_train)
y_pred = model.predict(S_test)
print('Final prediction score: [%.8f]' % accuracy_score(y_test, y_pred))

Final prediction score: [0.82744903]

In [ ]:
model = XGBClassifier(random_state=0, n_jobs=-1, learning_rate=0.1, 
                      n_estimators=1000, max_depth=3)
    
model = model.fit(S_train, y_train)
y_pred = model.predict(S_test)
print('Final prediction score: [%.8f]' % accuracy_score(y_test, y_pred))

Final prediction score: [0.82744903]

In [ ]:
model = RandomForestClassifier(random_state=0,
                      n_estimators=1000)
    
model = model.fit(S_train, y_train)
y_pred = model.predict(S_test)
print('Final prediction score: [%.8f]' % accuracy_score(y_test, y_pred))

Final prediction score: [0.82744903]